<div class="card h-100 shadow-sm">
    <!-- <img src="{{product.photos[0].binaryData}}" alt="{{product.name}}" class="img-fluid bg-info"> -->
    <img 
    src="https://offautan-uc1.azureedge.net/-/media/images/off/ph/products-en/products-landing/landing/off_overtime_product_collections_large_2x.jpg?la=en-ph" alt="{{product.name}}" class="img-fluid bg-info">
    <div class="card-body d-flex flex-column">
        <a href="#">
            <h6 class="text-uppercase">{{product.name}}</h6>
        </a>
        <span class="mb-2">{{product.price | currency}}</span>
        <div class="btn-group mt-auto">
          <button type="button" class="btn btn-outline-secondary fa fa-shopping-cart mr-2">View</button>
          <button type="button" class="btn btn-outline-secondary">Edit</button>
        </div>
        <small class="text-muted">9 mins</small>
    </div>
  </div>